 @model Belt.Models.RegistrationViewModel

 <form asp-action="Register" asp-controller="Home" method="post">
        <h1>Registration</h1>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="Confirmation"></label>
            <input asp-for="Confirmation">
            <span asp-validation-for="Confirmation"></span>
        </div>
        <input type="submit" value="Register">
    </form>